/* font import */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;400;700;900&display=swap');
/* common css */
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: Epilogue;
}
.container {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/*==================header part=========== */
header {
  background-color: #28293e;
  padding: 28px 0 66px 0;
}
/* navbar */
.navbar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-brand-name img {
  width: 152px;
  height: 48px;
}
.menu-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 515px;
  margin: 0 129px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.contact-btn {
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 33.54px 16px 34.46px;
  border: 1px solid rgba(255, 255, 255, 0.295743);
  box-sizing: border-box;
  border-radius: 6px;
  background-color: transparent;
}

.nav-icon {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  box-sizing: border-box;
  border-radius: 6px;
  background-color: transparent;
  padding: 17px 16px;
  display: none;
}
/* banner */
.banner-content {
  width: 50%;
  margin: 0 auto;
  margin-top: 104px;
}
.banner-tagline {
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  letter-spacing: -2px;
  color: #ffffff;
  margin-bottom: 24px;
}
.banner-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
}

/*=========== header responsive =========*/

@media (max-width: 480px) {
  /* nav part */
  .navbar-section {
    display: block;
  }
  .logo-brand-name {
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: block;
  }
  .menu-part {
    flex-direction: column;
    display: none;
    justify-content: center;
  }
  nav {
    width: 115px;
    margin: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  /* banner part */
  .banner-tagline {
    font-size: 36px;
    margin-bottom: 12px;
    line-height: 60px;
  }
  .banner-text {
    font-size: 12px;
  }
  /* .banner-content {
    width: 329px;
  } */
}
@media (min-width: 481px) and (max-width: 768) {
  /* nav part */
  .navbar-section {
    display: block;
  }
  .logo-brand-name {
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: block;
  }
  .menu-part {
    flex-direction: column;
    display: none;
  }
  nav {
    width: 115px;
    margin: 0px;
  }
  nav ul {
    flex-direction: column;
  }
  /* banner part */
  .banner-tagline {
    font-size: 56px;
    margin-bottom: 12px;
  }
  .banner-text {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1279px) {
  nav {
    width: 287px;
    margin: 0 13px;
  }
}
